body {
    margin: 0;
}

#filtres {
    height: 100px;
}

.produits {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 200px;
}

.produits>a {
    width: 300px;
    background-color: var(--head-color);
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--text-main-color);
}

.produits>a>img {
    display: block;
    width: 250px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    /* https://shadows.brumm.af/ */
    box-shadow:
        1.2px 1.2px 3.6px rgba(0, 0, 0, 0.024),
        3.4px 3.3px 10px rgba(0, 0, 0, 0.035),
        8.1px 7.8px 24.1px rgba(0, 0, 0, 0.046),
        27px 26px 80px rgba(0, 0, 0, 0.07);
    /* margin: 30px; */
}

