/**
css du footer

auteur : Amandine Chantome
*/

footer {
    position: absolute;
    right: 0;
    bottom: calc(0vh - 370px);
    background-color: var(--menu-color);
    color: #807d76;
    width: 100%;
    height: 100px;
    text-align: right;
}

footer a:hover {
    color: var(--accent);
}


footer a {
    text-decoration: none;
    padding: 0 20px;
    color: #807d76;
}

#copyr {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}