/**
css du header

auteur : Amandine Chantome
auteur : François guillerm
auteur : Alexis Tourrenc--Lecerf
*/

header {
    width: 100%;
    height: 150px;
    background-color: var(--head-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

#gauche {
    display: flex;
    flex-flow: column nowrap;
    width: 10%;
    background-color: var(--head-color);
    align-items: center;
}

#navigation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 80%;
    background-color: var(--head-color);
    margin-top: 5px;
}

#navigation>h1 {
    margin-top: 5px;
    font-size: 3rem;
    font-family: var(--font-shop);
    margin-block-start: 0;
    margin-block-end: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
}

.seperator {
    width: auto;
    height: 2px;
    background-image: radial-gradient(rgba(129, 115, 102, 0.884), #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
}

#menu>li {
    width: 150px;
    float: left;
    text-align: center;
    position: relative;
    list-style-type: none;

}


nav {
    width: 100%;
    margin: 0 auto;
    background-color: --head-color;
    position: relative
}

nav .seperator {
    width: 90%;
    margin: 0 auto;
}


#menu a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

#menu a:hover {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

.sous {
    padding: 0;
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
    list-style-type: none;

}

#menu li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

#menu .sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

#logpan {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 10%;
    background-color: var(--head-color);
}

#chat {
    display: block;
    z-index: 55;
    width: 75px;
    height: 108px;
    margin: 0;
}

#logpan {
    margin-top: 10px;
}

#logpan>a {
    text-decoration: none;
    color: var(--accent);
}