/**
css de la de connexion

auteur : Amandine Chantome
auteur : Loic Briant
*/

.containerLog a:link{
    color: var(--accent);
    text-decoration: none;
}

.containerLog a:visited{
    color: var(--accent);
    text-decoration: none;
}
input:focus::placeholder {
    color: transparent;
}


#id{
    width: 500px;
	margin-left: 50%;
	margin-top: 2%;
    transform: translate(-50%);
    border: black solid 1px;
    border-radius: 5px;
    background-color:  var(--head-color);
    font-family: var(--main-font) ;
}
#id > *{
    
    margin: 10px 25px 10px 25px;
    display: inline-block;
}




#remember{
    margin-right: 10px;
    height: 20px;
    padding: 0;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

#remember:hover{
    cursor: pointer;
}

#text_remember{
    margin-left: 0;
    font-size: 16px;
}

#text_remember:hover{
    cursor: pointer;
}

#New_account{
    margin-top: 5px;
    margin-bottom: 10px;
}

.textbar{
    width: calc(100% - 50px);

    padding: 0;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    text-indent: 10px;
    vertical-align: middle;
}

.textbar:focus{
    
    outline: none !important;
    border: #b8e6df 2px solid;
    box-shadow: 0 0 10px #b8e6df;
}



#submit{
    text-align: center;
    width: calc(100% - 50px);
    padding: 0;
    height: 40px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px var(--accent) solid;
    background: #b8e6df;
}

#submit:hover{
    background: var(--accent);
    color: aliceblue;
    cursor: pointer;
}


#New_account{
    width: calc(100% - 50px);
    padding: 0;
    height: 40px;
    border-radius: 5px;
    border: var(--accent) 2px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    font-size: 16px;
}


#Forget_Password{
    float: right;
}

label{
    margin-bottom: 0;
    font-size: 16px;
}

.containerLog {
    position: relative;
    top: calc(0vh + 170px);
    z-index: 0;
}