body {
    margin: 0;
}

.container.product {
    margin-left: calc(15vh + 55px);
    /* max-width: 80%; */
}


.flexbox-contenu {
    display: flex;
    flex-direction: row;
}

#produit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main {
    margin: 1% auto;
    width: 75%;
    /* height: 600px; */
    /* height: 51%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--head-color);
    border-radius: 20px;
}

#choix {
    /* padding: 15px; */
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 1%; */
    margin: 20px;
}

.div-choix-image {
    width: 90%;
    margin: 5px;
}

.choix-image {
    width: 75px;
    border-radius: 10px;
    /* height: 100%; */
}

.choix-image-active {
    /* border: solid 3px var(--accent); */
    outline: solid 3px var(--accent);
}

#image {
    display: flex;
    /* background-color: orange; */

    width: 600px;
    /* width: 35%; */
}

#image-principale {
    width: 90%;
    border-radius: 20px;
    margin: 20px;
}

#mainInfo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30%;
    padding: 10px;
    /* background-color: aqua; */
}

.infos {
    margin: 0 auto;
    padding: 10px;
    /* background: rgba(247, 240, 226, 1); */
}

/* #mainInfo>div {
    margin-left: 40%;
    margin-top: 5%;
} */

#quantite {
    width: 5%;
}

#suppInfo {
    margin: 1%;
    width: 98%;
    background-color: red;
}

#sugg {
    margin: 1%;
    width: 98%;
    background-color: yellow;
}

#sugg-produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sugg-produits>img {
    margin: 10px;
    height: 100%;
    width: 15%;
}



/* CSS */
.button-48 {
    appearance: none;
    background-color: #FFFFFF;
    color: #000000;
    border: #000000 1px solid;
    display: inline-block;
    font-family: var(--main-font);
    font-size: 17px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    padding: 1em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: var(--accent);
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}