body {
    margin: 0;
}

.flexbox-contenu {
    display: flex;
    flex-direction: row;
}

#produit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main {
    margin: 1%;
    width: 98%;
    /* height: 600px; */
    height: 51%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

#choix {
    width: 10%;
    height: 600px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.div-choix-image {
    width: 90%;
    height: 25%;
    margin: 10px;
}

.choix-image {
    width: 100%;
    height: 100%;
}

#image {
    background-color: orange;
    /* width: 600px; */
    width: 35%;
    height: 600px;
}

#image>img {
    width: 90%;
    height: 90%;
    margin: 5%;
}

#mainInfo {
    width: 50%;
    height: 100%;
    background-color: aqua;
    flex-grow: 3;
}

#mainInfo>div {
    margin-left: 40%;
    margin-top: 5%;
}

#quantite {
    width: 5%;
}

#suppInfo {
    margin: 1%;
    width: 98%;
    background-color: red;
}

#sugg {
    margin: 1%;
    width: 98%;
    background-color: yellow;
}

#sugg-produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sugg-produits>img {
    margin: 10px;
    height: 100%;
    width: 15%;
}