body {
    margin: 0;
}

.flexbox-contenu {
    display: flex;
    flex-direction: row;
}

#produit {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main {
    margin: 1%;
    width: 98%;
    height: 600px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

#choix-img {
    width: 10%;
    height: 600px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex-grow: 1;
}

#choix-image {
    width: 90%;
    margin: 10px;
    height: auto;
}

#image {
    background-color: orange;
    flex-grow: 2;
}

#image:hover, #image:active {
    cursor: zoom-in;
    display: block;
}

#image:hover #zoom, #image:active #zoom {
    opacity: 1;
}

#zoom {
    width: 340px;
    height: 340px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}

#mainInfo {
    width: 50%;
    height: 100%;
    background-color: aqua;
    flex-grow: 3;
}

#mainInfo>div {
    margin-left: 40%;
    margin-top: 5%;
}

#quantite {
    width: 5%;
}

#suppInfo {
    margin: 1%;
    width: 98%;
    background-color: red;
}

#sugg {
    margin: 1%;
    width: 98%;
    background-color: yellow;
}

#sugg-produits {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sugg-produits>img {
    margin: 10px;
    height: 100%;
    width: 15%;
}